* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#add-btn {
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #27ae60;
}

ul {
    list-style-type: none;
}

li {
    background-color: #dddddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



li button {
    background-color: #e93e2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
}

li button.edit {
    background-color: #3498db;
}

li button:hover {
    background-color: #c0392b;
}
.input-section{
    margin-right: 10px;
}
